body {
	margin: 0;
	padding: 0;
    background-color: #DEE2E1;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #444c57;
}

.container {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 80vw;
    margin: auto;
    background-color: white;
}

.blog-entry {
    padding-top: 20px;
    width: 70vw;
    margin: auto;
    background-color: #627b82;
    color: white;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
}

.blog-entry2 {
    padding-top: 20px;
    width: 70vw;
    margin: auto;
    background-color: #627b82;
    color: white;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
}

.blog-entry3 {
    padding-top: 20px;
    width: 70vw;
    margin: auto;
    background-color: #627b82;
    color: white;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
}

.top-nav {
    background-color: #b99795; /* pink */
    padding:30px;
    padding-bottom: 50px;
}

.top-nav a {
    color: white;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
}

.top-nav a:hover{
	color: #444c57; /* dark blue */
	text-decoration: underline; /* Hover styles to let people know they can click it */
}

.page-title h1 {
    color:  #b99795; /* pink */
}

p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 18px;
}

h1 {
    padding-bottom: 20px;
    font-size: 40px;
}

.entrys-title {
    padding-top: 15px;
}

.info-heading {
    width: 100%;
    height: 40px;
    background-color: #DEE2E1;
    color: #444c57;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
.date {
    float: right;
    padding-right: 20px;
}
  
.title {
    float: left;
    padding-left: 30px;
    font-size: 25px;
    position: relative;
    top: -15px;
    color: #b99795; /* pink */
}

.entry-image {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    height: auto;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.entry-image2 {
    padding-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}



.row {
  display: flex;
  justify-content: space-around;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  border-radius: 10px 10px 0 0;
} 
