@media only screen and (min-width: 930px){
body {
	margin: 0;
	padding: 0;
    background-color: #DEE2E1;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #444c57;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80vw;
    margin: auto;
    background-color: white;
}
.sticky-content {
    background-color: white;
    position: sticky; top: 0px;
}

/* nav */
.top-nav{
    position: relative;
    top: -20px;
    background-color: #CDDAD8; /* light blue */
    padding:20px;
    align-items: center;
}

.top-nav a{
    color: #444c57;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

.top-nav a:hover {
    font-weight: 600;
}

/* Months */
#myBtnContainer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.btn {
    background-color: #CDDAD8; /* light blue */
    color: #444c57;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #4e6978; /*dark blue*/
    color: white;
    font-weight: 500;
}

.entry-wrapper {
    margin-top: 20px;
    overflow: hidden;
}

/* Javascript filtering */
.filterDiv {
    display: none;
}

.show {
    display: block;
}

.active { /* Selected button for filtering */
    background-color: #4e6978; /*dark blue*/
    color: white;
    display: block;
    font-weight: 500;
}

/* Main titles */
h1 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px;
    padding-bottom: 20px;
}

.page-title, .name{
    color:  #4e6978; /*dark blue*/
    font-family: 'Montserrat', sans-serif;
}

/* Home page */
.name {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 23px;
    font-weight: 400;
}
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 80px;
    margin-right: 80px;
    column-gap: 20px;
}

.about-me p{
    padding-right: 40px;
    text-align: left;
    font-size: 18px;
}

#my-image {
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 25vw;
    max-height: max-content;
    padding-left: 20px;
    align-self: center;
}

/* Blog Entries */
.blog-entry, .blog-entry2{
    align-items: center;
    padding-top: 30px;
    width: 50vw;
    margin: 0 auto;
    color: white;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
}

.blue { /* changes the blog entry background color */
    background-color: #4e6978; /*dark blue*/
}

.light {  /* changes the blog entry background color */
    background-color: #CDDAD8; /* light blue */
    color: #444c57; 
}

.blog-entry p, .blog-entry2 p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.info-heading {
    display: flex;
    flex-direction: row;
    max-height: max-content;
    background-color: white;
    color: #444c57;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 23px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 10px;
    text-align: left;
}

.date {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

/* Entry images */
.entry-image {
    padding-top: 30px;
    align-self: center;
    width: 30vw;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
}

.entry-image:hover {
    width: 31vw;
}

.entry-image2{
    padding-top: 30px;
    box-sizing: border-box;
    width: 70%;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
}

.entry-image2:hover {
    width: 72%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.grid-item{
    padding-bottom: 10px;
}

}


/* Mobile screens */
@media only screen and (max-width: 930px) {

body {
	margin: 0;
	padding: 0;
    background-color: #DEE2E1;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #444c57;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    margin: auto;
    background-color: white;
}

.sticky-content {
    background-color: white;
    position: sticky; top: 0px;
}

/* nav */
.top-nav{
    position: relative;
    top: -20px;
    background-color: #CDDAD8; /* light blue */
    padding: 20px;
    align-items: center;
}

.top-nav a{
    color: #444c57;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.top-nav a:hover {
    font-weight: 600;
}

/* Months */
#myBtnContainer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.btn {
    background-color: #CDDAD8; /* light blue */
    color: #444c57;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #4e6978;
    font-weight: 500;
}

.entry-wrapper {
    margin-top: 20px;
    overflow: hidden;
}

/* Javascript filtering */
.filterDiv {
    display: none;
}

.show {
    display: block;
}

.active {  /* Selected button for filtering */
    background-color: #4e6978;
    color: white;
    display: block;
    font-weight: 500;
}

/* Main titles */
h1 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px;
    padding-bottom: 20px;
}

.page-title, .name {
    color:  #4e6978; /*dark blue*/
    font-family: 'Montserrat', sans-serif;
}

/* Home page */
.name {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.about-me {
    grid-template-rows: 1fr 1fr;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-evenly;
}

.about-me p{
    text-align: left;
    font-size: 15px;
}

#my-image {
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 50vw;
}

/* Blog Entries */
.blog-entry, .blog-entry2{
    align-items: center;
    padding-top: 30px;
    width: 80vw;
    margin: 0 auto;
    color: white;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
}

.blue { /* changes the blog entry background color */
    background-color: #4e6978; /*dark blue*/
}

.light {  /* changes the blog entry background color */
    background-color: #CDDAD8; /* light blue */
    color: #444c57; 
}

.blog-entry p, .blog-entry2 p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.info-heading {
    display: flex;
    flex-direction: row;
    max-height: max-content;
    background-color: white;
    color: #444c57;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    padding-right: 10px;
}

.date {
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}

/* Entry images */
.entry-image {
    padding-top: 30px;
    align-self: center;
    width: 50vw;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
}

.entry-image:hover {
    width: 51vw;
}

.entry-image2{
    padding-top: 30px;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
}

.entry-image2:hover {
    width: 62%;
}

.grid-container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-content: space-evenly;
}
      
.grid-item{
    padding: 10px;
}

}