body {
	margin: 0;
	padding: 0;
    background-color: #DEE2E1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #444c57;
}

.container {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 80vw;
    margin: auto;
    background-color: white;
}

.blog-entry, .blog-entry2, .blog-entry3{
    align-items: center;
    padding-top: 30px;
    width: 70vw;
    margin: 0 auto;
    color: white;
    -webkit-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
}

.blue {
    background-color: #4e6978;
}

.pink {
    background-color: #dbbbb8; /* pink */
}

.top-nav {
    background-color: #dbbbb8; /* pink */
    padding:30px;
    padding-bottom: 50px;
}

.top-nav a {
    color: white;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
}

.top-nav a:hover{
	color: #444c57; /* dark blue */
	text-decoration: underline; /* Hover styles to let people know they can click it */
}

.page-title, .name h2 {
    color:  #dbbbb8; /* pink */
    font-family: 'Arima Madurai', cursive;
}

p {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: justify;
    font-size: 18px;
}

.about-me p{
    padding-left: 40px;
    padding-right: 40px;

    text-align: justify;
    font-size: 18px;
}

h1 {
    padding-bottom: 10px;
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.entrys-title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Arima Madurai', cursive;
}

.info-heading {
    width: 100%;
    height: 70px;
    background-color: #DEE2E1;
    background-color: white;
    color: #444c57; /* dark blue */
    justify-content: space-evenly;
  }

  
.date {
    line-height: 40px;
    float: right;
    padding-right: 30px; 
    font-size: 15px;
    align-self: center;
    vertical-align: middle;
}
  
.title {
    line-height: 30px;
    float: left;
    padding-left: 30px;
    font-size: 25px;
    font-family: 'Arima Madurai', cursive;
    vertical-align: middle;
}


.col-blue {
    color: #4e6978;
}

.col-pink{
    color: #dbbbb8; /* pink */
}

#my-image {
    padding-top: 40px;
    max-width: 30vw;
    height: auto;
}

.entry-image {
    padding-top: 30px;
    align-items: center;
    width: 90%;
    height: auto;
    overflow: hidden;
}

.entry-image2, .entry-image3{
    padding-top: 30px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}


.grid-container2 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: space-evenly;
}

  
.grid-item, .grid-item2 {
    padding: 10px;
}

